#set($id = $product.Id)
#set($uri = $product.Uri)
#set($escapedName = $product.HtmlEscapedName)
#set($evaluationRate = $product.EvaluationRate)
<div class="x-shelf-wrapper" id="$id">
    <div class="x-shelf-image-container">
        <a class="x-shelf-image" title="$escapedName" href="$uri">$product.GetImageTag(29)</a>
    </div>
    <div class="x-shelf-content">
        <h3><a title="$escapedName" href="$uri">$product.Name</a></h3>
        <div id="rating-product-$id" class="x-shelf-rating avaliacao$evaluationRate">$evaluationRate</div>
        <div class="x-shelf-description-short">$product.DescriptionShort</div>
        #if ($product.IsInStock)
            <p class="x-shelf-price">
                <a title="$escapedName" href="$uri">
                    #if ($product.HasBestPrice)
                        <span class="x-old-price">De <span>$product.ListPrice</span></span>
                        <span class="x-new-price">Por <strong>$product.BestPrice</strong></span>
                    #else
                        <span class="x-new-price"><strong>$product.BestPrice</strong></span>
                    #end

                    #if ($product.NumbersOfInstallment > 1)
                    <span class="x-installment">
                        ou ${product.NumbersOfInstallment}x de <strong>$product.InstallmentValue</strong>
                    </span>
                    #end
                </a>
            </p>
            <div class="x-shelf-button">$product.BottomBuy</div>
        #else
            <div class="x-out-of-stock">
                <a title="$escapedName" href="$uri">avise-me quando disponível</a>
            </div>
        #end
        <p class="x-shelf-category"><a href="$product.CategoryLink">$product.CategoryName</a></p>
        <p class="x-shelf-brand">$product.BrandLink</p>
    </div>
    <div class="x-discount">$product.DiscountHightLight</div>
    <a class="x-btn-quickview" rel="nofollow" href="/quick-view/?idproduto=$id">Espiar</a>
</div>