<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:vtex="http://www.vtex.com.br/2009/vtex-common" xmlns:vtex.cmc="http://www.vtex.com.br/2009/vtex-commerce">
<head>
    <vtex:metaTags />
    <vtex:template id="header-tags" />
    <link rel="stylesheet" type="text/css" href="/arquivos/x-product.css" />
    <script type="text/javascript" src="/arquivos/x-product.js"></script>
</head>
<body>

    <vtex:template id="x-header" />

    <section class="x-main">

        <div class="x-wrapper">

            <div class="brands-carousel"><vtex:contentPlaceHolder id="marcas" /></div>
            <div class="collections"><vtex:contentPlaceHolder id="colecoes" /></div>
        </div>

    </section><!-- x-wrapper -->

    <vtex:template id="x-footer" />

</body>
</html>