<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:vtex="http://www.vtex.com.br/2009/vtex-common" xmlns:vtex.cmc="http://www.vtex.com.br/2009/vtex-commerce">
<head>
    <vtex:metaTags />
    <vtex:template id="header-tags" />
    <link rel="stylesheet" type="text/css" href="/arquivos/x-standard.css" />
    <script type="text/javascript" src="/arquivos/x-standard.js"></script>
</head>
<body>
    <div class="x-wrapper">
        <vtex:template id="x-header" />
        <div class="x-main">
            <div class="x-container">
                <vtex:contentPlaceHolder id="Conteudo" />
            </div>
        </div><!-- x-main -->
        <vtex:template id="x-footer" />
    </div><!-- x-wrapper -->
</body>
</html>